.board-page {
    background: #E0E0E0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
}

.board-nav {
    max-width: 1200px;
    margin: 0 auto;
    background: #F5F5F5;
    width: 100%;
    padding: 10px 20px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    text-wrap: wrap;
}

.board-nav h4 {
    width: 100%;
    color: #333333;
}

.back-btn {
    font-size: 30px;
    display: flex;
    cursor: pointer;
}

.edit-board {
    border: 0;
    font-size: 17px;
    background: transparent;
    align-self: center;
    cursor: pointer;
}

.edit-board:hover {
    color: #008000;
}

.delete-board {
    border: 0;
    font-size: 20px;
    background: transparent;
    align-self: center;
    cursor: pointer;
    /* border: 2.5px solid #FF6B6B; */
    color: #e60000;
}

.delete-board:hover {
    color: #b30000;
}

.cards-div {
    width: 100%;
    padding: 40px 0 40px 0;
    max-width: 1200px;
    max-height: 100vh;
    margin: 0 auto;
    background: #E0E0E0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-bottom: 250px;
}

.todo-list, .inprogress-list, .done-list {
    width: calc(100%/4);
}

.cards-div p {
    margin-bottom: 10px;
}

hr {
    border-radius: 10px;
}

.todo-list hr {
    border: 2.5px solid #FF6B6B;
}

.inprogress-list hr {
    border: 2.5px solid #FFD700;
}

.done-list hr {
    border: 2.5px solid #00CC66;
}

.cards-div ul {
    width: 100%;
    list-style-type: none;
}

.task-item {
    margin-top: 10px;
    background: #F5F5F5;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    word-wrap: break-word;
    color: #333333;
    transition: all 0.3s ease 0s;
}

.description-div {
    margin-top: 20px;
    background-color: #f2f2f2;
    width: auto;
    height: auto;
    padding: 10px;
    word-wrap: break-word;
}

.add-btn {
    margin-top: 10px;
    background: #F5F5F5;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    text-align: left;
    color: #008000;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.add-btn:hover , .task-item:hover{
    background: #FFFFFF;
    box-shadow: 2px 2px 15px;
}

.task-popup-div {
    position:fixed;
    width: 300px;
    height: auto;
    /* max-height: 350px; */
    background: #FFFFFF;
    top: 190px;
    left: 375px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    color: #043D75;
    border: 1px solid #F3F3F3;
    /* box-shadow: 1px 1px 25px 1px #708DA9; */
    transform: none;
    transition: all 0s ease 0s;
}

.task-popup-top {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.task-popup-top p{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #708DA9;
}

.task-popup-close {
    background: transparent;
    color: #708DA9;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

.task-popup-close:hover {
    background: #F8F9FC;
}

.task-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap:10px;
}

.task-form label {
    font-size: 16px;
}

.task-title, .task-description {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 3px solid #708DA9;
    border-radius: 3px;
    color: #000000;
    padding: 10px;
    font-size: 13.3333px;
}

.task-title:hover, .task-description:hover {
    border-color: #043D75;
}

.task-title:focus, .task-description:focus {
    outline: none !important;
    border-color:#b6c2cf;
}

.task-description {
    height: 80px;
    resize: none;
}

.task-submit {
    width: 100%;
    height: 45.1042px;
    background: #7254F3;
    border: 0;
    border-radius: 6px;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #7254F3;
}

.task-submit:hover {
    background: #6545F2;
    color: #FFFFFF;
}

.task-submit:active {
    background: #6545F2;
    color: #FFFFFF;
}

.task-delete-btn {
    margin-top: 10px;
    width: 100%;
    height: 45.1042px;
    background: #EA5455;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
    border: 0;
}

.task-delete-btn:hover {
    background: #e94949;
    color: #FFFFFF;
}

.task-delete-btn:focus {
    background: #e94949;
    color: #FFFFFF;
}

@media screen and (max-width: 992px) {
    .task-popup-div {
        top: 300px;
        left: 100px;
    }
}

@media screen and (max-width: 600px) {
    .cards-div{
        padding-bottom: 200px;
    }
    
    .todo-list, .inprogress-list, .done-list {
        width: calc(100%);
        padding: 20px 40px;
    }

    .task-popup-div {
        top: 150px;
        left: 0px;
        width: 100%;
    }
}