.form {
    height: 92vh;
    padding: 10px;
    padding-top: 0;
    max-height: 100vh;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    color: #000000;
}

.form-img-div, .login-form-div{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.form-img-div {
    width: 60%;
}

.form-img-div img {
    width: 90%;
    filter: drop-shadow(10px 1px 20px black);
}

.login-form-div{
    width: 40%;
    padding-top: 8%;
    background: #FFFFFF;
    flex-direction: column;
    /* gap: 5px; */
    border-radius: 10px;
}

.login-form-div p {
    font-size: 14px;
    color: #3f3f41;
}

.login-form {
    /* border: 1px solid #F5F5F5; */
    margin-top: 35px;
    border-radius:5%;
    text-align: center;
    width:90%;
    height: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form input {
    width: 80%;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 15px;
    padding: 12px;
    color: #000000;
    border-color: #000000;
}

.forgotpass {
    color: #3f3f41;
    text-align: right;
    width: 80%;
    text-decoration: none;
}

.login-form input::placeholder {
    color: #000000;
}

.login-form input[type=submit] {
    margin-top: 20px;
    color: #FEFEFA;
    background: #333333;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.login-form input[type=submit]:active {
    background: #3f3f41;
}

.login-form input[type=submit]:hover {
    filter: brightness(1.3);
}

.login-form input[type=submit]:disabled {
    background: #3f3f41;
}

.signup-link {
    margin: 10%;
    display: flex;
    gap: 5px;
}

.signup-link a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .form-img-div {
        display: none;
    }

    .login-form-div{
        padding-top: 0;
        justify-content: center;
        width: 100%;
    }

    .login-form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .form-img-div {
        display: none;
    }

    .login-form {
        width: 100%;
    }
}